body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html, body, fullContainer {
  height: 100%;
}


.App {
  display:flex;
  flex-direction: column;
}

.AppHeader {
  background-image: url("DNA_model.jpg");
  background-size: 100%;
  background-position: center;
  height: 135px;
  padding: 20px;
  color: white;
}

.AppHeader h1 {
  text-align: left;
  font-size: 40px;
  margin-left: 86px;
  margin-top: 45px;
  color: #DDDDDD;
}
