.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  background-color: '#d2f1f6';
}

.topLinks {
    margin: 3px;
    text-align: right;
    font-size: 14px;
}

.topLinks a:link, .topLinks a:visited  {
    color: #4c4c4c;
    text-decoration: none;
}
.topLinks a:hover {
    text-decoration: underline;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.containerTop {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.mainContainer > .containerTop {
  height: 55px;
}

.busyOverlay {
  position: absolute;
  z-index: 10000;
  opacity: 0.5;
  background-color: black;
  width: 100%;
  height: 100%;
}

.busyOverlay .spinner {
  background-image: url("spinner.gif");
  width: 200px;
  height: 200px;
  position: relative;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
}

.backButton {
  margin: 15px;
  height: 30px;
  flex: 0.7;
  opacity: 0.9;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10px;
  flex: 3;
}

.heading a:visited, .heading a:link {
  text-decoration: none;
  color: #7c7c7c;
}

.topControls {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerCenter {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  flex: 3;
  margin: 0 10px 0 10px;
}

.centerLeft {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.centerRight {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.containerBottom {
  bottom: 0;
  margin: 0px 10px 5px 10px;
}

.geneViewerHeader {
  padding: 4px;
  background-image: url("../DNA_model.jpg");
  background-size: 100%;
  background-position: center;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.centerRight .guideTable {
  flex: 1;
}

.guideTable {
  display: grid;
  width: 535px;
  margin: 3px;
}
.lu-row > div {
  overflow-y: hidden;
}

.lu-wrapper {
  height: 100%;
}

.proteinViewer {
  min-height: 100px;
  overflow: hidden;
  display: flex;
  border: 1px;
  flex: 1;
}

.noPdbMessage {
    position: absolute;
    margin: 150px;
}

#svgHolder {
  flex: 2;
}
