.radioButton:first-child {
  margin-top: 22px;
}
.radioButton {
  margin-bottom: 10px;
}

.initialForm {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 300px;

  padding-top: 22px;
  padding-right: 50px;
}

.formButton {
  margin-top: 20px;
}

.geneChip {
  margin: 4px;
}

.chipWrapper {
  display: flex;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: auto;
}

.Select-menu-outer {cursor: pointer;}
