
.bodyLeft {
  flex: 2;
}

.bodyRight {
  flex: 1;
}

.teaser {
  position: relative;
  top: 150px;
  left: 90px;
  width: 300px;
  line-height: 1.9;
}

.AppBody {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.AppFooter {
  position: absolute;
  bottom: 0px;
  margin: 20px;
}

.AppFooter a:link, .AppFooter a:visited  {
  color: #4c4c4c;
  text-decoration: none;
}
.AppFooter a:hover {
  text-decoration: underline;
}

