
.bodyLeft {
  flex: 2;
}

.bodyRight {
  flex: 1;
}

.teaser {
  position: relative;
  top: 150px;
  left: 90px;
  width: 300px;
  line-height: 1.9;
}

.AppBody {
  display: flex;
  flex-direction: row;
  flex: 1;
}
