.App {
  display:flex;
  flex-direction: column;
}

.AppHeader {
  background-image: url("DNA_model.jpg");
  background-size: 100%;
  background-position: center;
  height: 135px;
  padding: 20px;
  color: white;
}

.AppHeader h1 {
  text-align: left;
  font-size: 40px;
  margin-left: 86px;
  margin-top: 45px;
  color: #DDDDDD;
}

.AppBody {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.bodyLeft {
  flex: 2;
}

.bodyRight {
  flex: 1;
}

.teaser {
  position: relative;
  top: 150px;
  left: 90px;
  width: 300px;
  line-height: 1.9;
}
